<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="form-group-item col">
            <label>Vices & Vertus</label>
            <textarea name="system.vices_vertus" rows="1">{{system.vices_vertus}}</textarea>
        </div>
        <div class="form-group-item col">
            <label>Talents accessibles</label>
            <textarea name="system.talents" rows="1">{{system.talents}}</textarea>
        </div>

        <div class="item-header grey mt-20">
            <h3 class="item-title">Modificateurs de Caractéristiques</h3>
        </div>
        <div class="stats-modifiers-grid">
            {{#each system.stats as |mod key|}}
            <div class="stat-mod">
                <label>{{key}}</label>
                <input type="number" name="system.stats.{{key}}" value="{{mod}}"/>
            </div>
            {{/each}}
        </div>
    </div>
</div>
