<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="form-group-item">
            <label>Type d'arme</label>
            <select name="system.type_arme">
                {{selectOptions choixTypeArme selected=system.type_arme}}
            </select>
        </div>
        <div class="form-group-item">
            <label>Ajoute la Force (FOR)</label>
            <input type="checkbox" name="system.utilise_force" {{checked system.utilise_force}}/>
        </div>
        <div class="form-group-item">
            <label>Dégâts de l'arme</label>
            <input type="number" name="system.degats_fixe" value="{{system.degats_fixe}}"/>
        </div>
        <div class="form-group-item">
            <label>Mains (Prise)</label>
            <select name="system.mains">
                {{selectOptions choixMains selected=system.mains}}
            </select>
        </div>
        <div class="form-group-item">
            <label>Spécial</label>
            <input type="text" name="system.special" value="{{system.special}}"/>
        </div>
    </div>
</div>