<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="domaine-container pt-10 min-h-100 w-100">
            <p class="text-center text-muted mb-10">Glissez-déposez vos sorts ici pour les lier au domaine.</p>
            
            <div class="flex-row gap-20">
                <div class="flex-1">
                    <h4 class="color-purple font-georgia border-bottom-purple mb-10">Tours</h4>
                    <div class="flex-col gap-5">
                        {{#each system.spells as |spell index|}}
                        {{#if (eq spell.type_sort "tour")}}
                        <div class="flex-row align-center magic-item-bg">
                            <img src="{{spell.img}}" class="item-image small border-dark">
                            <div class="flex-1 flex-col">
                                <span class="font-bold color-light font-095">{{spell.name}}</span>
                            </div>
                            <a class="text-danger px-5 cursor-pointer" data-action="deleteSpell" data-index="{{index}}" title="Retirer"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>

                <div class="flex-1">
                    <h4 class="color-blue font-georgia border-bottom-blue mb-10">Sortilèges & Rituels</h4>
                    <div class="flex-col gap-5">
                        {{#each system.spells as |spell index|}}
                        {{#if (eq spell.type_sort "sortilege")}}
                        <div class="flex-row align-center magic-item-bg">
                            <img src="{{spell.img}}" class="item-image small border-dark">
                            <div class="flex-1 flex-col">
                                <span class="font-bold color-light font-095">{{spell.name}}</span>
                                {{#if spell.difficulte}}<span class="font-08 text-muted">Diff: {{spell.difficulte}}</span>{{/if}}
                            </div>
                            <a class="text-danger px-5 cursor-pointer" data-action="deleteSpell" data-index="{{index}}" title="Retirer"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                        {{#if (eq spell.type_sort "rituel")}}
                        <div class="flex-row align-center magic-item-bg">
                            <img src="{{spell.img}}" class="item-image small border-dark">
                            <div class="flex-1 flex-col">
                                <span class="font-bold color-light font-095">{{spell.name}}</span>
                                {{#if spell.difficulte}}<span class="font-08 text-muted">Diff: {{spell.difficulte}}</span>{{/if}}
                            </div>
                            <a class="spell-delete text-danger px-5 cursor-pointer" data-action="deleteSpell" data-index="{{index}}" title="Retirer"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>