<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="form-group-item">
            <label>Bonus Vitalité</label>
            <input type="number" name="system.bonus_vit" value="{{system.bonus_vit}}"/>
        </div>
        <div class="form-group-item">
            <label>Bonus Sang-Froid</label>
            <input type="number" name="system.bonus_sf" value="{{system.bonus_sf}}"/>
        </div>
        <div class="form-group-item">
            <label>Points de Destin</label>
            <input type="number" name="system.destin" value="{{system.destin}}"/>
        </div>
        <div class="form-group-item col">
            <label>Talents Automatiques</label>
            <textarea name="system.talents_auto" rows="1">{{system.talents_auto}}</textarea>
        </div>
        <div class="form-group-item col">
            <label>Spécial</label>
            <textarea name="system.special" rows="1">{{system.special}}</textarea>
        </div>
        <div class="form-group-item col">
            <label>Limitation</label>
            <textarea name="system.limitation" rows="1">{{system.limitation}}</textarea>
        </div>

        <div class="item-header grey mt-20">
            <h3 class="item-title">Modificateurs de Caractéristiques</h3>
        </div>
        <div class="stats-modifiers-grid">
            {{#each system.stats as |mod key|}}
            <div class="stat-mod">
                <label>{{key}}</label>
                <input type="number" name="system.stats.{{key}}" value="{{mod}}"/>
            </div>
            {{/each}}
        </div>
    </div>
</div>